{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dog-index.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Dog List</h1>
  <img src="{% static 'images/Dog1.jpeg' %}" alt="Dog with tounge out">
  <img src="{% static 'images/Dog2.jpeg' %}" alt="Happy Dog">
  <img src="{% static 'images/Dog3.png' %}" alt="Dog tilting head smiling">
  <img src="{% static 'images/Dog4.png' %}" alt="Dog walking with tounge out">
</section>

<section class="card-container">
  {% for dog in dogs %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/Dog5.png' %}" 
            alt="Dog sitting" style="width:100%"
          >
        </div>
        <h2 class="card-title">{{ dog.name }}</h2>
        {% if dog.age > 0 %}
          <p>A {{ dog.age }} year old {{ dog.breed }}</p>
        {% else %}
          <p>A {{ dog.breed }} dog.</p>
        {% endif %}
        <p><small>{{ dog.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}